.category-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.category-header__title {
    font-size: 5rem;
    color: var(--off-white);
    margin-bottom: 1rem;
}

.category-header__description {
    font-size: 1.8rem;
    color: var(--off-white);
}

.category-page-container {
    display: grid;
    grid-template-columns: [left-side-start] minmax(4rem, 1fr) [left-side-end main-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [main-end right-side-start] minmax(2rem, 1fr) [right-side-end];
    grid-template-rows: max-content;
    grid-row-gap: 4rem;
    min-height: 100vh;
    margin-bottom: 5rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.lesson-card-container {
    grid-column: main-start / main-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    row-gap: 2.5rem;

}

.lesson-card-container a {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .lesson-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-header__title {
        font-size: 4rem;
    }
}

@media (max-width: 620px) {
    .category-header__title {
        font-size: 3.5rem;
    }
    .category-header__description {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .lesson-card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-column: left-side-start / right-side-end;
        margin: 0 .25rem;
    }

    .category-header__title {
        font-size: 3rem;
        text-align: center;
    }

    .category-header__description {
        font-size: 1.6rem;
        text-align: center;
    }
}