<footer class="footer">
    <ul class="footer__list">
        <li class="footer__item"><a href="mailto:mrmcgory@gmail.com">Contact Me</a></li>
        <div class="footer__logo-container"><li class="footer__logo"><h3><a class="footer__logo" href="#">MrM</a></h3></li></div>
        <li class="footer__item"><a href="https://en.wikipedia.org/wiki/Matt_Damon">About Me</a></li>
    </ul>
</footer>