<div class="navigation">
    <div class="navigation__logo">
        <h3 class="navigation__logo-text"><a class="navigation__logo-text" href="/">MrM</a></h3>
    </div>

    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/science" class="navigation__link">Activities</a></li>
            <li class="navigation__item"><a href="/data-visuals" class="navigation__link">Data</a></li>
            <li class="navigation__item"><a href="/quizzes" class="navigation__link">Quizzes</a></li>
            <li class="navigation__item"><a href="/web-development" class="navigation__link">Web Development</a></li>
            <li class="navigation__item"><a href="/time-killers" class="navigation__link">Time Killers</a></li>
            <li class="navigation__item"><a href="/social-media" class="navigation__link">Social Media</a></li>
            <li class="navigation__item"><a href="/math" class="navigation__link">Math</a></li>
        </ul>
    </nav>

</div>

