.earthquake-modal {
    position: absolute;
    text-align: left;
    width: 175px;
    height: 200px;
    padding: 2px;
    font-family: Helvetica, Arial, sans-serif;
    background: rgba(167, 226, 231, 0.8);
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.earthquake-modal p {
    margin: 1rem;
    font-size: 1.6rem;
}