.card {
    background-color: var(--off-white);
    display: grid;
    grid-template-rows: 5vh minmax(min-content, 20vh) 1fr;
    height: 100%;
    row-gap: 1.5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba(0,0,0,.4);
    cursor: pointer;
}

.card__link {
    text-decoration: none;
}   

.card:hover {
    filter: brightness(105%);
    box-shadow: 0 2rem 4rem rgba(0,0,0,.2);
}

.card:hover > .card__title {
    color: var(--primary-blue);
}

.card__title {
    font-family: var(--quote-font);
    font-size: 3rem;
    text-align: center;
    color: var(--off-white);
    transform: rotate(-2deg) translateY(-15px);
}

.card__description {
    font-size: 1.8rem;
    align-self: flex-end;
    line-height: 1.5;
    color: black;
    margin: 0 2rem;
}

.card__image {
    max-width: 45%;
    justify-self: center;
    align-self: center;
}

/*Lesson Cards */
.lesson-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;

    background-color: var(--off-white);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    transition: 0.5s ease;
    cursor: pointer;
    backface-visibility: hidden;
}

.lesson-card__image {
    width: 75%;
    flex-shrink: 1;
    padding: 1rem 0;
    margin-top: 1rem;
}

.lesson-card__title {
    font-family: var(--quote-font);
    font-size: 3.2rem;
    font-weight: 700;
    align-self: flex-start;
    color: var(--text-content-gray);
    padding: 0 1rem;
}

.lesson-card__level {
    font-size: 1.5rem;
    font-weight: 700;
    padding: .75rem .75rem;
    margin: 1.2rem 1.2rem;
    align-self: flex-start;
    color: var(--text-content-gray);
    border: .25rem solid var(--primary-blue);
}

.lesson-card:hover  {
    filter: brightness(105%);
    box-shadow: 0 2rem 4rem rgba(0,0,0,.2);
    background: var(--primary-blue);
}

.lesson-card:hover > .lesson-card__title {
    color: var(--off-white);
}

.lesson-card:hover > .lesson-card__level {
    color: var(--off-white);
    border: .25rem solid var(--off-white);
}

.lesson-card:hover > .lesson-card__image {
    color: var(--off-white);
}

