<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/styles.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>\
    <title><%= activity.title %></title>
</head>
<body class="viz__body">
    <div class="home-logo">
        <%- include('../partials/homeLinkBlueText') %>
    </div>
    <div class="viz__page-container">
        <div class="viz__heading">
            <%= activity.title %>
        </div>;
    
        <div class="viz__element"></div>

        <div class="viz__controls" id="controls"></div>
    </div>

        


        <script src="/dist/demo.bundle.js" type="module"></script>
</body>  
</html>