<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" href="/dist/styles.min.css">
        <title>Mr. McGory | What a Guy!</title>
    </head>
    <body class="blue-bg">
        <div class="wrapper">
            <%- include('../partials/nav') %>
            <header class="home-header">
                <div class="home-header__hero-container">
                    <h1 class="home-header__title">Things for Science Class</h1>
                    <h3 class="home-header__subtitle">Demos - Data - Coding - Activities - Quizzes - Plus More Good Stuff</h3>
                </div>
            </header>

            <main class="main-page-container">

                <section class="quote">
                    <h3 class="quote__text">Work Smarter Not Harder</h3>
                </section>

                <section class="main-featured">
                
                    <a href="/science" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Demos & Activities</span></h2>
                            <img class="card__image" src="svg/science.svg">
                            <p class="card__description">Learn science with models, examples, activities, and more. </p>
                        </div></a>

                        <a href="/data-visuals" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Data for Science</span></h2>
                            <img class="card__image" src="svg/data.svg">
                            <p class="card__description">Study science using graphs, charts, and other data visualizations</p>
                        </div></a>

                        <a href="/web-development" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Web Development</span></h2>
                            <img class="card__image" src="svg/web-dev.svg">
                            <p class="card__description">Activities to help students learn the basics of web development.</p>
                        </div></a>

                        <a href="/quizzes" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Quizzes</span></h2>
                            <img class="card__image" src="svg/quiz.svg">
                            <p class="card__description">Test your knowledge on these topics and review for a real test!</p>
                        </div></a>

                        <a href="/time-killers" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Time Killers</span></h2>
                            <img class="card__image" src="svg/timekillers.svg">
                            <p class="card__description">Games and activities for when you have a few minutes to spare</p>
                        </div></a>

                        <a href="/social-media" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Social Media</span></h2>
                            <img class="card__image" src="svg/social-media.svg">
                            <p class="card__description">Only the best parts of Twitter and Instagram...the science parts</p>
                        </div></a>
      
                </section>

                <section class="quote">
                    <h3 class="quote__text">Not Science (but still cool) Stuff</h3>
                </section>

                <section class="main-featured not-science">
                
                    <a href="/math" class="card__link"><div class="card">
                            <h2 class="card__title"><span class="highlighter">Math Activities</span></h2>
                            <img class="card__image" src="svg/math.svg">
                            <p class="card__description">Practice your math skills with games and practice exercises. </p>
                        </div></a>

                </section>

            </main>

            <%- include('../partials/footer') %>
        </div>
    </body>
</html>
